<div class="m-auto grid w-full max-w-[1500px] border border-neutral-300">
  <!-- CODE EDITOR HEADER -->
  <div class="flex gap-10 border-b border-neutral-300 bg-neutral-200 p-5 font-bold">
    <!-- WPM -->
    <div class="flex flex-col gap-1.5 text-center">
      <div class="text-xs text-neutral-500">WPM</div>
      <div class="text-xl">0</div>
    </div>
    <!-- Accuracy -->
    <div class="flex flex-col gap-1.5 text-center">
      <div class="text-xs tracking-wider text-neutral-500">ACCURACY</div>
      <div class="text-xl">0%</div>
    </div>
    <!-- TIME -->
    <div class="flex flex-col gap-1.5 text-center">
      <div class="text-xs tracking-wider text-neutral-500">TIME</div>
      <div class="text-xl">0:05</div>
    </div>
    <!-- PROGRESS -->
    <div class="flex flex-col gap-1.5 text-center">
      <div class="text-xs tracking-wider text-neutral-500">PROGRESS</div>
      <div class="text-xl">10%</div>
    </div>
  </div>

  <!-- CODE EDITOR SETTINGS -->
  <div class="bg-white p-4">Settings, themse etc</div>

  <!-- CODE EDITOR AREA -->
  <div class="bg-neutral-900 p-4 text-white">CODE EDITOR</div>

  <!-- CODE FOOTER TEXT -->
  <div class="bg-white p-4 text-center">Click anywhere or press any key to start typing</div>
</div>
