<div class="m-auto grid w-full max-w-[1500px] grid-cols-2 overflow-hidden rounded-lg border border-neutral-300">
  <div class="flex w-full flex-col gap-6 p-10">
    <h1>Type real code and race against the clock</h1>
    <p>
      Codetype Race puts your fingers to the test. Race through actual code snippets from Python, JavaScript, Java, and
      more. Speed matters. Accuracy matters more.
    </p>
    <div class="flex gap-4">
      <button>Play</button>
      <button>Learn more</button>
    </div>
  </div>
  <div class="w-full bg-neutral-300">
    <img alt="Hero Image" height="100%" src="../../../assets/KeyBoard.png" width="100%" />
  </div>
</div>
